@*@model IEnumerable<WebApplication1.Models.viewModel>*@
@model WebApplication1.Models.viewModel
@using WebApplication1.Models;


@{
    pearprojectEntities context = new pearprojectEntities();
    List<type> AllTypes = context.types.ToList();

    MultiSelectList typess = new MultiSelectList(AllTypes, "id", "types");
    ViewBag.Title = "Index";

    List<WebApplication1.Models.viewModel> list = ViewBag.clients;
    List<WebApplication1.Models.image> imagelist = ViewBag.imag;
    WebApplication1.Models.viewModel client = ViewBag.client1;

    var xlist = context.clients.Select(z => new viewModel
    {
        Address = z.Address,
        DateOfBirth = z.DateOfBirth,
        Name = z.Name,
        imageName = z.imageName,
        id = z.id,
        Mobile = z.Mobile
    });



}


<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create" )*@
    <input type="submit" id="btnCreate" value="Create" />
</p>
@if (ViewBag.imag != null)
{
    foreach (var item2 in imagelist)
    {
        <td>
            <img src="../../images/@item2.images" width="30px" height="30px" />
        </td>
    }
}
<form enctype="multipart/form-data" action="Create2" method="post" id="frmCreate">
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>viewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" />
                @*@Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control"}})*@
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imageName" required />
                @Html.ValidationMessageFor(model => model.imageName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.images, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                <input type="file" multiple="multiple" name="imagesName" required />
                @Html.ValidationMessageFor(model => model.images, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3">
                @Html.Label("MultiSelect ddl")
            </div>
            <div class="col-lg-9">
                @Html.DropDownList("typeid", typess, new { multiple = "multiple", Name = "ClientTypes", id = "FromJson" })
            </div>
        </div>
        <div class="form-group row">
            
            <textarea id="txtArea" name="SummerNote" rows="6" class="form-control"placeholder="Summer note"></textarea>
        </div>
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <text hidden id="txtIsUpdate" name="up"></text>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (client != null)
                {
                    <input type="submit" value="Edit" class="btn btn-default" id="btnUpda" />
                }
                else
                {
                    <input type="submit" value="Create" class="btn btn-default" id="btnCreate" />

                }
                @*<input type="submit" value="Update" class="btn btn-default" id="btnUpdate" />*@
            </div>
        </div>
    </div>

</form>

@Html.Partial("tableShow")

@{
    ViewBag.Title = "Create";
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {

        $('#FromJson').select2({ multiple: true });

        if ('@ViewBag.check' != '' && '@ViewBag.check' == '@true') {
            $('#frmCreate').show();
            $('#btnUpdate').show();
            $('#btnCreate').hide();
            $('#txtIsUpdate').val('@true');


        } else {
            $('#frmCreate').hide();
            $('#btnUpdate').hide();
         $('#txtIsUpdate').val(false);
    }


    })
    $('#btnCreate').click(function () {
        $('#frmCreate').show(2000);
        $('#btnUpdate').hide();

    })
    $('#btnEdit').click(function () {
        $('#frmCreate').show(2000);
        $('#btnUpdate').show();
        $('#frmCreate').hide();
    })
    $('#btnDelete').click(function () {
        if (confirm("Are you sure you want to delete this Record?")) {
            alert("deleted Sussefully");
        }

    })
</script>